@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
:root{
  --color-primary: #191d2b;
  --color-secondary: #27AE60;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
}


.sidebar{
    background-color: var(--color-primary);
    width: 100vw;
    left: 25%;
       
}
.sidebar nav{
    display: flex;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    margin-top: 3%;
    position: relative;
    gap: 45px;
    align-items: center;
    left: 50%;
    padding: 9px;
}
.sidebar nav a{
    display: inline-block;
    text-decoration: none;
    text-decoration-style: none;
    color:var(--color-white);
    transition-duration: 0.4s;
}

.sidebar nav a:hover {
    color: red;
}

.Contactbtn {
        transition-duration: 0.4s;
}

.Contactbtn:hover {
        background-color: #4CAF50; /* Green */
        color: white;
      }

